{% extends ../templates/base.html %}
{% block title %} Main Page {% end %}
{% block script %} 
<script src="{{ static_url('js/app.js') }}"></script> 

{% end %}
{% block body %}
<div id="application">
    <div id="menubar">
    </div>
    <div id="leaderboard">
    </div>
    <div id="mygroup">
    </div>
    <div id="allgroup">
    </div>
    <div id="mypeople">
    </div>
    <div id="allpeople">
    </div>
    <div id="chatroom">
    </div>
    <div id="footer">
    </div>
</div>
{% end%}
